<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-lg-6">
      <h1>Lists'list</h1>

      <div class="list-group">
      <% List.all.each do |list| %>
        <%= link_to list_path(list.id) do %>
          <%= render "list_card", list: list %>
        <% end %>
      <% end %>
      </div>
      <%= link_to "create a new list", new_list_path, class: "btn btn-primary mt-3 rounded" %>

    </div>
  </div>
</div>
